<div class="container">
  <!-- Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Re-Taurantz
        <small>Find a place to eat</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    {{#each places as |place|}}
      <div class="col-md-3 portfolio-item">
        <a href="/{{place.id}}">
          <img
            class="img-responsive"
            src="/images/{{place_name}}.png"
            alt="{{place_name}}"
          />
        </a>
        <h3>
          <a href="/{{place.id}}">{{place_name}}, {{cuisine}}</a>
        </h3>
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>

</div>